<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      >
    <!--
        internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore3.txt"
    -->
    <!-- enable asp.net core layout renderers -->

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!--<variable name="Logs" value="${environment:logs_folder}"/>-->
    <variable name="Logs" value="${specialfolder:folder=LocalApplicationData}/DevOpsBot"/>
    <variable name="Namespace" value="DevOpsBot.Api"/>
    <variable name="LoggerLayout" value="${pad:padding=-35:inner=${replace:inner=${logger}:searchFor=${Namespace}:replaceWith=}}"/>
    <variable name="EntryLayout" value="${uppercase:${level:truncate=4}} ${LoggerLayout}: ${message} ${exception:format=tostring} -- ${aspnet-request-url}"/>
    <targets>

        <target xsi:type="File" name="general" fileName="${Logs}/general.log" layout="${longdate} ${EntryLayout}" />
        <target xsi:type="Console" name="console" layout="${EntryLayout}" />
    </targets>

    <rules>
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console, general" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />

        <logger name="*" minlevel="Trace" writeTo="console, general" />
    </rules>
</nlog>